body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: cornsilk;
}

h1 {
    color: rgb(174, 240, 109);
    padding: 10px;
}

h2 {
    color: #775577;
    padding: 10px;

}

h3 {
    color: darkcyan;
    padding: 10px 5px;
}

.main-header {
    /* border: 1px solid #505050; */
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(163, 186, 187);
    color: #775577;
    text-transform: uppercase;
    font-weight: lighter;
    height: 100px;
}

.grid-container {
    width: 80%;
    margin: auto;
}

.sub-header {
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-between;
    width: 100%;
}

.logo {
    border: 3px solid #775577;
    padding: 5px;
    margin: 5px;
    width: 10%;
}

.menu {
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-content: center;
    padding-right: 20px;
}

.menu ul {
    margin: 10px;
}

.main-post {
    width: 30%;
    border: 3px solid #a760a7;
    margin: 20px;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}

.sub-post {
    width: 100%;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}

.post-header {
    width: 100%;
    background-color: rgb(29, 29, 82);
    box-shadow: 0px 5px 5px black;
}