body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: cornsilk;
}

h2 {
    color: #775577;
}

.main-header {
    border: 1px solid #505050;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(163, 186, 187);
    color: #775577;
    text-transform: uppercase;
    font-weight: lighter;
    height: 100px;
}

.grid-container {
    width: 80%;
    margin: auto;
}

.sub-header {
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-between;
    width: 100%;
}

.logo {
    border: 3px solid #775577;
    padding: 5px;
    margin: 5px;
    width: 10%;
}

.menu {
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-content: center;
}

.menu ul {
    width: 15%;
}

.main-post {
    width: 33%;
    border: 3px solid #8b2e8b;
    padding: 10px;
    margin: 10px;
}